* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.header-container {
  display: flex;
  height: 5vh;
  width: 100%;
  background-color: #1f2937;
  color: aliceblue;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.header-logo {
  font-family: "Roboto";
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}

.links {
  display: flex;
  width: 450px;
  gap: 14px;
  font-family: "Roboto";
  font-size: 18px;
  color: #e5e7eb;
  justify-content: flex-end;
}

.section-one-container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 70px;
  background-color: #1f2937;
  color: aliceblue;
  font-family: "Roboto";
  width: 100%;
  height: 380px;
  justify-content: space-between;
}

.awesome {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  line-height: 50px;
}

.under-awesome {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  height: 26px;
  width: 99px;
  border-radius: 7px;
  border: none;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 12px;
}

.right-side {
  height: 216.6px;
  overflow: hidden;
  width: 450px;
}

.castle {
  width: 100%;
  height: 215px;
}

.left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
